body {
    
	color:#7f0a49;
	background-color:#FF1493;
}

.content {
	width: 60%;
	padding:20px;
	margin: auto;
	background:#FFC0CB;
	
	}
.header ,footer {
	background-image: url("https://78.media.tumblr.com/e3c2f2576de598514cad393a59d7f444/tumblr_nm2qttBr9w1tx4fsyo1_r2_1280.png");
	color:rgb(240, 12, 126);
	display: inline;
	margin: 0 auto;
	display:block;
	text-align:center;	
	width:60%;
	padding:20px;

}
 .article1 > :first-child{
	color:rgb(12, 129, 184);
}

/* img 
https://s6.favim.com/orig/150604/adorable-beauty-broken-cool-Favim.com-2791096.jpg
*/
img{
	width:250px;
	height:250px;
	position:relative;
	margin:0 10px;
	
}
	
ul.nav-bar {
    list-style-type: none;
	display:flex;
	flex-wrap: wrap;
	justify-content: center; /* center kardane menu */
	}
ul.menu-bar li { /* amalan ezafas */
	margin: auto; 
	padding: auto;
	
}
ul.nav-bar li a {
	padding: 6px 15px;
	display: inline-block;
	text-decoration: none; 
	font-weight: bold;
	color:rgb(184, 10, 106);
	
	
	}
ul.nav-bar a:hover   {
	background: #5da7ec; 
	color: red; 
	border-radius: 50px;
	}
	p{
		text-align: justify;
	}

hr { 
	
	height: 5px;
	width:50%;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

section{
	text-align: center;
	display: flex;
	flex-wrap: wrap
	
}

footer p {
	text-align: inherit;
}
