body {
    
	color:rgb(3, 7, 46);
	background-image:url('http://i64.tinypic.com/qz0ro6.jpg');
}

 .article1 > :first-child{
	color:rgb(12, 129, 184);

}

.container {
	width: 60%;
	padding:25px;
	margin: auto;
	background: #a6d4e7;
	}



hr { 
    border-style:inset;
}
footer { 
	/* display: block; */
	text-align: center;
}
ul.menu-bar {
	margin: 0; 
	list-style-type: none;
	display:flex;
	flex-wrap: wrap;
	
	}
ul.menu-bar li {
	margin: 2px; 
	padding: 2px; 
	text-align: center; 
	background: #c2d5f0; 
	display: inline-block; 
	font-size: 15px;
	border-radius: 5px;
	margin-left: 3px;
	}
ul.menu-bar li a {
	color: rgb(1, 1, 19); 
	display: block; 
	padding: 7px 20px; 
	text-decoration: none; 
	}
ul.menu-bar li:hover {
	background: #8ce6ec; 
	color: #fff; 
	}