body {
    
	color:rgb(3, 7, 46);
	background-image:url('http://i64.tinypic.com/qz0ro6.jpg');
	
}



.main-container {
	width: 600px;
	height: auto;
	background: #c2e7e2;
	margin-top: 0px; 
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 150px;
	border-radius: 8px;
	padding:25px;
	}

.header{
	height:150px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style:inset;
	border-width: 3px;
	border-color:rgb(7, 7, 49);
}
footer { 
	display: block;
	text-align: center;
}
ul.menu-bar {
	margin: 0; 
	list-style-type: none;
	}
ul.menu-bar li {
	margin: 2px; 
	padding: 2px; 
	text-align: center; 
	background: #c2d5f0; 
	display: inline-block; 
	font-size: 18px;
	border-radius: 5px;
	margin-left: 30px;
	}
ul.menu-bar li a {
	color: rgb(1, 1, 19); 
	display: block; 
	padding: 7px 20px; 
	text-decoration: none; 
	}
ul.menu-bar li:hover {
	background: #e5f508; 
	color: #fff; 
	}