body {
  background: #ffffff;
  margin: 0;
  padding: 0;
}

.col-md-12 {
  padding: 0;
}

.header {
  padding: 40px 0 10px 0;
}

h1.title {
  line-height: 1.15em;
  text-align: center;
  color: #2d2d2d;
  font-size: 56px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p.subtitle {
  text-align: center;
  margin-top: 3px;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 300;
}

ul.spring {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.spring li {
  position: relative;
  cursor: pointer;
}

ul.spring li:hover a.over {
  height: 100%;
  border: 0;
}

ul.spring li:hover a:before {
  transform: scale(1, 1);
  height: 100%;
}
ul.spring li a {
  text-decoration: none;
  display: block;
  color: #212121;
  border-bottom: 1px solid #F7F7F7;
  cursor: pointer;
}

ul.spring li a:before {
  transform-origin: center top;
  transition: all 0.4s 0.1s cubic-bezier(0.7, 0, 0.3, 1);
  transform: scale(0, 1);
  content: "";
  position: absolute;
  display: block;
  background-color: #212121;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  border: 0;
  overflow: hidden;
}

ul.spring li a.over {
  transition: all 0.4s 0.1s cubic-bezier(0.7, 0, 0.3, 1);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  color: #FFFFFF;
  border: 0;
}

ul.spring li .item {
  position: relative;
  padding: 25px 15px;
  display: block;
  text-align: center;
}

ul.spring li h4 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
  line-height: 1.3em;
  letter-spacing: 4px;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

ul.spring li p {
  display: block;
  margin-top: 3px;
  text-decoration: none;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.05em;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
  text-decoration: none;
}

.footer {
      font-size: 16px;
      color: #ffffff;
      background-color: black;
      height: 33px;
      text-align: center;
      margin: 10px 20px;
      font-size: 80%;
      padding: 10px 0px 0x 0px;
}
