/* Header */

.nav a {
    width: 100%;
    float: none;
    top: 10px;
    color: white;
    text-align: center;
    padding: 30px 36px;
    text-decoration: none;
    font-size: 17px;
    margin: 0px;
    position: relative;
    box-sizing: border-box;
    
}

.nav a:hover {
    background-color:   green;
    color: white;
      border: 30px transparent;
    position: relative;
    padding: 30px 36px;
    margin: 0px;
    width:100%;
    box-sizing: border-box;
}

.nav a.active {
    background-color:   green;
    color: white;
      border: 30px transparent;
    position: relative;
    padding: 30px 36px;
    margin: 0px;
    width:100%;
    box-sizing: border-box;
}


.nav a {
   
    color: white;
      border: 30px transparent;
    position: relative;
    padding: 30px 36px;
    margin: 0px;
    width:100%;
    box-sizing: border-box;
            -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}


h1 {
    text-align: center;
    color: white;
    position: relative;
    top:10px;
    font-size: 37px; 
    
    text-shadow: 1px 1px 8px black;
}

.nav {
    background-color: blue;
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 40px;
    top: 20px;
    text-align: center;
    margin: 0px;
    box-sizing: border-box;

}


/* Header */





button {
    font-size: 16px;
    position: relative;
    background-color: transparent;
    color: black;
    
    padding: 3px 3px;
    border: 1px solid yellow;
     border: 1px transparent solid;
    border-radius: 5px;
    line-height: 2em;
    text-align: center;
     -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    
    

}
button:hover {
    font-size: 16px;
    color: black;
    
    background-color: #00ff99;
  
    
    padding: 3px 3px;
   
    border-radius: 5px;
    line-height: 2em;
  
    

}

button a {
    color: purple;
    text-decoration: none;
}

.mianbox a {
    color:black;
    text-decoration: none;
}

button a:hover {
    color:red;
    text-decoration: none;
}


.mainbox {
    background: grey;
    display: flex;
    flex-flow: row wrap;
    padding: 0px;
    Border:5px transparent;
    box-sizing: border-box;
   

    
}

.mainbox .article1 {
    flex:1;
    box-sizing: border-box;
    margin: 0px auto;
    width:20%;
    padding:20px;
    max-width: 400px;
     text-align: center;
     background-color:  #adafae;
      -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    
}

.mainbox .article1:hover, .mainbox .article2:hover, .mainbox .article3:hover, .mainbox .Aboutsec:hover    {
         background-color:   #94d0b8;


}



.article2 {
    margin: 0px auto;
    flex:1;
      box-sizing: border-box;
      width:20%;
      padding:20px;
      max-width: 400px;
      text-align: center;
      background:  #979797;
       -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    
    
}

.article3 {
    margin: 0px auto;
    flex:1;
      box-sizing: border-box;
      width:20%;
      padding:20px;
      max-width: 400px;
       text-align: center;
       background-color:   #9fb1aa;
          -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    
}

.Aboutsec {
    margin: 0px auto;
   flex:1;
      box-sizing: border-box;
      width:20%;
      padding:20px;
      max-width: 400px;
       text-align: center;
       background-color:  transparent;
        -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    
}

h2 {
    text-align: center;
}

header {
    background-color: #dce1df;
    margin: 0px;
}

body {
    margin:0;
    background-color: #dce1df;
    width: 100%;
    text-shadow: 1px 1px 8px white;
     padding: 10px auto;
    box-sizing: border-box;
    }




img{
    text-align: center;
   width: 250px;
   height: 150px;
    
    
}








.nav a:hover {
    border: white;
    background-color: green;
    color: white;

}







.UP, .DOWN {
    display:flex;
    box-sizing: border-box;
    margin: 0px auto;
    flex-flow: row wrap;
    text-align: center;
   box-sizing: border-box;
   justify-content: space-between;
   max-width: 96%;
   

}

.UP .article1{
    margin: 10px 10px;
    flex:1;
    width:33.33%;
    width: 400px;
    background:  #e7eae9 ;
    box-sizing: border-box;
    padding: 10px;
    margin: 0px auto;
    
    
}

.UP .article2{
    margin: 10px 10px;
    width:33.33%;
    flex:1;
    width: 400px;
    background: #bbd3c9;
    box-sizing: border-box;
    padding: 10px;
    margin: 0px auto;

}

.UP .article3{
    margin: 10px 10px;
    width:33.33%;
    flex:1;
    width: 400px;
    background:  #a2c6b8;
        box-sizing: border-box;
    padding: 10px;
    margin: 0px auto;
    
}

.DOWN .article4{
    flex:1;
    margin: 10px 10px;
    width:33.33%;
    width: 400px;
    background:   #3d765f;
    box-sizing: border-box;
    padding: 10px;
    margin: 0px auto;
  
    
}

.DOWN .article5{
    margin: 10px 10px;
    width:33.33%;
    flex:1;
    width: 400px;
    background:   #a6ffdb;
    box-sizing: border-box;
    padding: 10px;
    margin: 0px auto;

}

.DOWN .article6{
    margin: 10px 10px;
    width:33.33%;
    flex:1;
    width: 400px;
    background:   #8a9f97;
    box-sizing: border-box;
    padding: 10px;
    margin: 0px auto;
  
}

footer {
    text-align: center;
    width: 100%;
} 



