*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 150%;
}
body{
    
    color: #333;
    font-family: 'Source Serif Pro', serif;
}
header,footer{
    background: #622569;
    color: #fff;
}
header h1{
    font-size: 48px;
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 6.5em;
    font-weight: bolder;
    letter-spacing: 4px;
}
header p{
    font-size: 20px;
}
main{
    margin: 20px 60px 0px 60px;
    display: flex;
}
section{
    padding: 0 10px;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    
}
section article{
     width: 33.3%;
     align-items: baseline;
}
section article:nth-child(5){
    width:40%;
}
section article:nth-child(4),
section article:nth-child(6){
    width:30%;
}
.sidebar{
     padding: 0 0px;
     width: 20%;
}
.sidebar p{
    font-family: 'Tangerine', cursive;
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: 2px;
}
a{
    text-decoration: none;
}
hr{
    margin: 2em 0;
}
p:first-child, 
dl{
    padding: 20px;
}
p{
    padding: 10px 20px;
}
dd{
    padding-left: 20px;
}
img{
    display: block;
    margin: 0 auto;
    padding: 30px;
    width: 100%;
}

h2,
h3{
    margin: 10px;
    border-bottom: 1px solid #000;
}
section article:first-child h3{
    padding-bottom: 10px;
}
section article:not(:first-of-type) h2,
.sidebar h2{
    margin-top: 47px;
}
article:first-child p.summary:first-letter{
    font-size: 1.8em;
    font-style: italic;
}
#awards{
    margin-left: 50px;
}
.poem{
    text-align: center;
}
h4.poem_title{
    margin: 20px 20px 10px 20px ;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
}
article:nth-child(3) p:last-of-type{
    margin-left: 15%;
}
blockquote p{
    border-left: 5px solid grey;
    margin: 5px 30px;
}
blockquote cite{
    margin-left: 50px;
    text-align: center;
}
footer{
    text-align: center;
}
footer a{
    color: #ffcc5c;
    font-family: 'Tangerine', cursive;
    font-size: 1.5em;
    letter-spacing: 2px;
}