body{
padding: 0%;
margin: 0%;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    
    background-color: black;
    color: white;
  
}
.website-header{
    
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

.website-header img{
    width: 50px;
    height: 50px;
    margin: 0 30px;
}
.website-header h1{
    margin: auto 0;
}

.wrapper {
    display: grid;
     grid-template-columns:repeat(3, 1fr);
    /*column gap*/
    grid-column-gap: 1em;
    /*row gap*/
    grid-row-gap: 1em;
     /* grid-gap:1em; This will keep the same sizes between rows and columns */
}

   .wrapper>div{
    background: #8b8080;
    padding: 1em;
}
    /*this is the padding for the text within the box */


.wrapper>div:nth-child(odd) {
    /*Changing the color for odd numbers */
    background: #f8f6f6;
}
.website-footer{
    background-color: black;
    color: white;
    height: 100px;
    width: auto;
  }